.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper:not(:last-child) {
  margin-bottom: 3rem;
}

.wrapper > * {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  justify-content: flex-start;
  gap: 2rem;
}

.item__img {
  width: 13rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 3px;
}

.item__details {
}
.item__name {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.item__color {
  font-size: 1.4rem;
  color: var(--clr-grey-5);
}

.color {
  width: 2rem;

  height: 2rem;
  background-color: red;
}

.price {
  font-size: 1.8rem;
  color: var(--clr-primary-5);
}

.subprice {
  color: var(--clr-grey-5);
  font-size: 1.6rem;
}
