.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper:not(:last-child) {
  margin-bottom: 3rem;
}

.wrapper > * {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .wrapper > * {
    flex-basis: unset;
  }
}

.item {
  justify-content: flex-start;
  gap: 1.5rem;
  flex-basis: 27%;
}

@media (max-width: 767px) {
  .item {
    flex-basis: unset;
  }
}

.item__img {
  width: 13rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .item__img {
    width: 10rem;
    height: 7rem;
  }
}

.item__details {
}

.item__name {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.item__color {
  font-size: 1.3rem;
  color: var(--clr-grey-5);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 3px;
}

.price {
  font-size: 1.8rem;
  color: var(--clr-primary-5);
}

@media (max-width: 767px) {
  .price {
    display: none;
  }
}

.subprice {
  color: var(--clr-grey-5);
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .subprice {
    display: none;
  }
}

.trash {
  position: absolute;
  top: 50%;
  right: 5px;

  background-color: red;
  padding: 0.7rem 0.6rem;
  transform: translateY(-50%);
  color: var(--clr-white);
  font-size: 1.2rem;

  border-radius: 3px;
  cursor: pointer;
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}

@media (max-width: 767px) {
  .trash {
    position: relative;
    transform: translateY(0);
  }
}
