.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
