.wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  gap: 3rem 1.5rem;
}

.wrapper > :first-child {
  grid-row: 1/ -1;
}

@media (max-width: 710px) {
  .wrapper {
    display: block;
  }

  .sort {
    margin-bottom: 3rem;
  }

  .wrapper > :first-child {
    grid-row: 1/ -1;
  }
}
