.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 3.8rem;
}

.wrapper button {
  all: unset;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  cursor: pointer;
}

.wrapper span {
  font-size: 3.4rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .wrapper {
    font-size: 3.5rem;
  }

  .wrapper span {
    font-size: 3rem;
  }
}
