.footer {
  height: 8rem;
  padding: 1rem 0;
  background-color: var(--clr-black);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--clr-white);
}

.footer h5 {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.footer span {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: var(--clr-primary-5);
  font-weight: 400;
}
